* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    height: 600px;
    width: 1000px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2.2%;
}

section#step-guide-container {
    border-radius: 8px;
    height: 100%;
    width: 29%;
    background-image: url(../../assets/images/bg-sidebar-desktop.svg);
    background-position: 50% 100%;
    background-size: cover;
}
