* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

main {
    height: 600px;
    width: 950px;
    padding: 2.2%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    background-color: #ffffff;
}

section#step-guide-container {
    height: 100%;
    width: 29%;
    padding: 4%;
    border-radius: 8px;
    row-gap: 8px;
    background-image: url(../assets/images/bg-sidebar-desktop.svg);
    background-position: 50% 100%;
    background-size: cover;
}

section#plan-custom {
    width: 60%;
    padding: 4% 5%;
    border: 1px solid #000000;

}
