@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #f0f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Ubuntu;
}