@font-face {
    font-family: 'Ubuntu Bold';
    src: url(../fonts/Ubuntu-Bold.ttf);
}

@keyframes notValidatedInput {
    from {
        border: 2px solid #d6d9e6
    }

    to {
        border: 2px solid #ed3648;
    }
}

@keyframes notValidatedInputLabel {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

h1.main-title {
    font-family: 'Ubuntu Bold';
    font-size: 2.3rem;
    color: #032a59;
    margin-bottom: 2%;
}

p.step-description {
    color: #9699ab;
    font-weight: 400;
    margin-bottom: 10%;
}

form#personal-info-form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
}

div.input-block {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5.3%;
}

label.input-name {
    display: flex;
    margin-bottom: 1%;
    color: #032a59;
}

label.input-name::after {
    opacity: 0;
    font-weight: 700;
    color: #ed3648;
    margin-left: auto;
}

label.input-name.not-validated::after {
    animation: notValidatedInputLabel 0.2s ease-out forwards;
}

label.input-name.name::after {
    content: 'Must have name and last name';
}

label.input-name.email::after {
    content: 'Wrong email format';
}

label.input-name.phone::after {
    content: 'Wrong phone format';
}

input {
    height: 50px;
    width: 100%;
    padding: 3%;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    color: #032a59;
    border-radius: 8px;
    border: 1.5px solid #a7abbe;
}

input::placeholder {
    color: #a7abbe;
}

input:focus,
input.not-validated:focus {
    border: 2px solid #463dff;
}

input.not-validated {
    animation: notValidatedInput 0.2s ease-out forwards;
}

button {
    min-height: 50px;
    max-height: 50px;
}

button.next-step-button {
    margin-top: auto;
    width: 120px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    background-color: #032a59;
    transition: 0.15s ease-out;
}

button.next-step-button:hover {
    background-color: #0f3f7a;
}

@media screen and (max-width: 440px) and (min-width: 320px) {
    h1.main-title {
        font-size: 1.7rem;
        margin-bottom: 5%;
    }

    p.step-description {
        font-size: 1.1rem;
    }

    label.input-name::after {
        font-size: 0.8rem;
    }
}