img.thank-you-check {
    height: auto;
    width: 80px;
    margin-bottom: 40px;
}

div.step5 {
    padding: 3%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.final-description {
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
    color: #9699ab;
}

@media screen and (max-width: 420px) and (min-width: 320px) {
    main.main-sec {
        min-height: 375px;
        padding: 6%;
    }

    p.final-description {
        margin-top: 10px;
        font-size: 1.01rem;
        line-break: initial;
    }

    div.step5 {
        padding: 0;
    }
}