form.pick-addons-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

label.select-addons {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: 0.15s ease-out;
    cursor: pointer;
}

label.select-addons:nth-child(1),
label.select-addons:nth-child(2) {
    margin-bottom: 15px;
}

label.select-addons.not-selected {
    border: 1px solid #9699ab;
    background-color: transparent;
}

label.select-addons.not-selected:hover {
    border-color: #473dff;
}

label.select-addons.selected {
    border: 1px solid #473dff;
    background-color: #f0f6ff;
}

label.select-addons input {
    height: 0;
    width: 0;
}

div.addons-check-label {
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

div.pseudo-checkbox {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: 0.15s ease-out;
}

div.pseudo-checkbox.not-selected {
    background-color: transparent;
    border: 1px solid #9699ab;
}

div.pseudo-checkbox.selected {
    background-color: #473dff;
}

img.check {
    height: 18px;
    width: 18px;
}

img.check.not-displayed {
    display: none;
}

img.check.displayed {
    display: inline;
}

div.addons-information {
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 5%;
}

p.addons-name {
    font-family: 'Ubuntu';
    font-weight: 700;
    color: #02295a;
}

p.addons-description {
    font-family: 'Ubuntu';
    font-size: 0.95rem;
    color: #9699ab;
}

p.additional-price-text {
    color: #473dff;
}

button.go-back-button {
    background-color: transparent;
}

div.buttons-div {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 420px) and (min-width: 320px) {
    label.select-addons {
        padding: 0 4% 0 4%;
        height: 70px;
    }

    div.addons-check-label {
        height: 100%;
        width: fit-content;
        margin-right: 4%;
    }

    div.pseudo-checkbox {
        height: 20px;
        width: 20px;
    }

    img.check {
        height: 14px;
        width: 14px;
    }

    div.addons-information {
        width: max-content;
    }

    p.addons-name {
        width: fit-content;
        font-size: 0.9rem;
    }

    p.addons-description {
        width: fit-content;
        font-size: 0.8rem;
    }

    p.additional-price-text {
        margin-left: auto;
        font-size: 0.95rem;
    }

    form.pick-addons-form {
        display: flex;
        height: 100%;
    }

    div.selection-div {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin-bottom: 40px;
    }
}