@font-face {
    font-family: 'Ubuntu Bold';
    src: url(../fonts/Ubuntu-Bold.ttf);
}

@keyframes yearly {
    from {
        left: 0;
    }

    to {
        left: 60%
    }
}

@keyframes monthly {
    from {
        left: 60%;
    }

    to {
        left: 0;
    }
}

@keyframes notValidatedLabel {

    0% {
        border: 1.5px solid #d6d9e6;
    }

    50% {
        border: 2px solid #ed3548;
    }

    100% {
        border: 1.5px solid #d6d9e6;
    }
}


* {
    box-sizing: border-box;
}

form.plan-period-select {
    height: 100%;
    display: flex;
    flex-direction: column;
}

p.step-description {
    color: #9699ab;
    font-weight: 400;
    margin-bottom: 10%;
}

section.monthly-section {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7%;
    transition: 0.2s linear;
}

section.monthly-section.not-validated::before {
    content: 'Choose your plan to proceed';
    position: absolute;
    top: 26.5%;
    color: #ed3548;
    opacity: 0;
}

label.user-plan {
    height: 170px;
    width: 150px;
    padding: 3%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

label.user-plan input.check-plan {
    height: 0;
    width: 0;
}

label.user-plan.not-validated {
    animation: notValidatedLabel 1s ease-out;
    border: 1.5px solid #d6d9e6;
}

label.user-plan.not-selected {
    border: 1.5px solid #d6d9e6;
    background-color: transparent;
}

label.user-plan.not-selected:hover,
label.user-plan.not-validated:hover {
    border: 1.5px solid #473dff;
}

label.user-plan.selected {
    border: 1.5px solid #473dff;
    background-color: #f0f6ff;
}

label.user-plan img {
    margin-bottom: 40%;
}

div.plan-info-section {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.plan-info-section h4 {
    color: #032a59;
}

div.plan-info-section p {
    color: #9699ab;
    font-size: 0.95rem;
    transition: 0.2s ease-out;
}

div.monthly-yearly-selection {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 30%;
    background-color: #f0f6ff;
    margin-bottom: 9.15%;
}



div.monthly-yearly-selection label {
    height: 40%;
    width: 20%;
    border-radius: 10px;
    background-color: #032a59;
    display: flex;
    align-items: center;
    padding: 0% 2%;
    cursor: pointer;
}

div.monthly-yearly-selection label input#periodic-toggle {
    height: 0;
    width: 0;
}

label div.toggle-ball {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    animation: 0.3s linear infinite;
}

p.periodic-name {
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.2s ease-out;
}

div.nav-buttons-div {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div button.go-back-button {
    height: 50px;
    width: 120px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: #032a59;
}

button {
    min-height: 50px;
    max-height: 50px;
}

@media screen and (max-width: 440px) and (min-width: 320px) {

    section.monthly-section {
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        margin-bottom: 10%;
        transition: 0.2s linear;
    }

    label.user-plan {
        height: 85px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 3%;
        box-sizing: border-box;
        display: flex;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s ease-out;
    }

    label.user-plan img {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-right: 5%;

    }

    div.plan-info-section {
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
    }

    div.plan-info-section h4 {
        width: fit-content;
    }

    p.step-description {
        margin-bottom: 7%;
    }

    div.monthly-yearly-selection {
        padding: 0 20%;
    }
}